<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Whippet and Ship-It</title>
  </head>
  <body>
    <h1></h1>

    <form action="/parcels" method="post">
      <label for="length">Add its length:</label>
      <input id="length" name="length" type="text">
      <label for="depth">Add its depth:</label>
      <input id="depth" name="depth" type="text">
      <label for="height">Add its height:</label>
      <input id="height" name="height" type="text">
      <label for="weight">Add its weight:</label>
      <input id="weight" name="weight" type="text">
      <button type="submit">How much to ship my shit?</button>
    </form>

  </body>
</html>
